.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../../assests/register.jpg);
  background-size: cover;
}

.registerTitle {
  font-size: 70px;
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 20px 0;
  font-size: 30px;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
  font-size: 20px;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: firebrick;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}

.registerLoginButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: lightcoral;
  cursor: pointer;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
  font-size: 20px;
}
